# Ignore node_modules directory
node_modules/

# Ignore .env file (contains sensitive data)
.env

# Ignore log files
logs/
*.log

# Ignore build or bundled files
/build
/dist

# Ignore macOS system files
.DS_Store

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore npm debug logs
npm-debug.log*

# Ignore local configuration files
config/local.js
